{% extends "base.html" %} {% block main %} {% load static %}
<section class="blog_section">
  <div class="container heading">
    <h1 class="heading-primary">My recent blogs &#8595;</h1>
  </div>
  <div class="container">
    <div class="blogs">
      {% for blog in blogs_list %}
      <div class="blog-card">
        <div class="blog-info-block">
          <div class="info-top">
            <h4 class="blog-title">{{blog.title}}</h4>
            <p class="blog-content">{{blog.subtitle}}</p>
            <span class="blog-date">{{blog.date}}</span>
            <span class="blog-date">Author : {{blog.author}} </span>
          </div>
          <div class="info-button">
            <a class="blog-link" href="{% url 'blog_detail' blog.id %}"
              >Read More</a
            >
          </div>
        </div>

        <div class="blog-img-block">
          <img class="img-responsive" src="{{blog.image.url}}" alt="blog-img" />
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
