{% extends "base.html" %} {% block main %} {% load static %}
<section class="blog-single">
  <div class="container">
    <a href="{% url 'blog' %}" class="nav-link"><u>Back to blogs</u></a>
  </div>
  <div class="container">
    <div class="blog-detail">
      <div class="blog-sigle-img">
        <img
          src="{% static blog.image %}"
          class="img-responsive"
          alt="blog-single-img"
        />
      </div>
      <div class="blog-single-info">
        <div class="blog-single-top-info">
          <h4 class="blog-title">{{blog.title}}</h4>
          <p class="blog-content">{{blog.subtitle}}</p>
          <span class="blog-date">{{blog.date}}</span>
        </div>
        <div class="blog-single-botttom-info">
          <p class="blog-paragraph">{{blog.paragraph | safe}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
